body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background: #b6b7bc;
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 15;
  left: 0;
  right: 0;

}


.content-wrapper {
  padding-top: 70px;
  background: #FFFFFF;
}

.body-wrapper {
  padding-top: 20px;
}
